@model IEnumerable<WebApp.Models.Superheroes.Superpower>

<h1 class="text-center">Lista Supermocy</h1>

<!-- Таблица суперсил -->
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Nazwa Supermocy</th>
        <th>Liczba Superbohaterów</th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (var superpower in Model)
        {
            <tr>
                <td>@superpower.Name</td>
                <td>@superpower.HeroSuperpowers.Count()</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2" class="text-center">Brak supermocy do wyświetlenia.</td>
        </tr>
    }
    </tbody>
</table>

<!-- Пагинация -->
<nav>
    <ul class="pagination justify-content-center">
        @if (ViewBag.TotalPages > 1)
        {
            <!-- Кнопки перехода к первой и предыдущей странице -->
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="/Superpowers/Index?page=1" tabindex="-1">&laquo; Pierwsza</a>
            </li>
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="/Superpowers/Index?page=@(ViewBag.CurrentPage - 1)" tabindex="-1">&lsaquo; Poprzednia</a>
            </li>

            <!-- Номера страниц -->
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Superpowers/Index?page=@i">@i</a>
                </li>
            }

            <!-- Кнопки перехода к следующей и последней странице -->
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/Superpowers/Index?page=@(ViewBag.CurrentPage + 1)">Następna &rsaquo;</a>
            </li>
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/Superpowers/Index?page=@ViewBag.TotalPages">Ostatnia &raquo;</a>
            </li>
        }
    </ul>
</nav>
